body {
    background-color: rgb(248, 246, 240);
}
h1 {
    color: rgb(146, 86, 95);
    text-align: center;
}
.interesting {
    font-weight: bold;
    color: rgb(146, 86, 95);
}
p {
    color: rgb(183, 108, 119, 1);
}
img {
    border-radius: 50%;
    width: 150px;
  }